.about .collective {
  padding: 60px 0 80px 0; }
  .about .collective h2 {
    margin-bottom: 70px; }

.about .administration {
  padding: 70px 0 40px 0; }
  .about .administration.blue-bg {
    background-color: #F3FAFB; }
  .about .administration h2 {
    margin-bottom: 40px; }
  .about .administration .administration-cards {
    display: flex;
    flex-wrap: wrap; }
    .about .administration .administration-cards .administration-card {
      text-align: center;
      margin-bottom: 50px;
      width: 20%; }
      .about .administration .administration-cards .administration-card img {
        width: auto;
        border-radius: 50%; }
      .about .administration .administration-cards .administration-card .name {
        font-weight: 600;
        font-size: 16px;
        max-width: 200px;
        margin: 30px auto 3px; }
      .about .administration .administration-cards .administration-card .position {
        font-weight: 400;
        font-size: 14px;
        max-width: 200px;
        margin: 0 auto; }
