.header {
  background-image: url("../images/header-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.06); }
  .header .navbar {
    padding: 0rem 1rem; }
    .header .navbar .info {
      font-size: 12px; }
      .header .navbar .info p {
        margin: 0; }
      .header .navbar .info a {
        color: #000; }
    .header .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #000;
      padding-right: 1.5rem;
      padding-left: 1.5rem; }
    .header .navbar .collapse .navbar-nav .nav-item .dropdown-menu[data-bs-popper] {
      margin-top: 1.4rem;
      border: none;
      border-radius: 0;
      padding: 0; }
