html {
  overflow-x: hidden; }

body {
  background: #fff;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway',sans-serif !important;
  font-size: 18px; }

h2.main-title, h2.main-title-white {
  font-size: 30px;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-weight: 800; }
  h2.main-title-white {
    color: #fff; }

img {
  width: 100%; }

.reasons {
  padding: 65px 0 80px; }
  .reasons h2 {
    margin-bottom: 70px; }
  .reasons p {
    max-width: 550px;
    margin: 0 auto 1rem; }

.offering {
  padding: 65px 0 75px;
  background: linear-gradient(91.94deg, #0086F2 -5.4%, #A346B0 123.49%); }
  .offering h2 {
    margin-bottom: 50px; }
