@charset "UTF-8";
.header {
  background-image: url("../images/header-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.06); }
  .header .navbar {
    padding: 0rem 1rem; }
    .header .navbar .info {
      font-size: 12px; }
      .header .navbar .info p {
        margin: 0; }
      .header .navbar .info a {
        color: #000; }
    .header .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #000;
      padding-right: 1.5rem;
      padding-left: 1.5rem; }

.footer {
  background: #23252C;
  color: #ffffff;
  font-size: 12px;
  padding: 50px 0 100px 0; }
  .footer a {
    color: #fff;
    text-decoration: none; }
  .footer .footer-logo {
    width: auto;
    margin-left: -15px; }
  .footer .contacts {
    display: flex;
    margin-bottom: 30px; }
    .footer .contacts .contacts-wrap:not(:last-child) {
      margin-right: 30px; }
    .footer .contacts p {
      max-width: 110px;
      margin: 0;
      font-size: 12px;
      font-weight: 400px; }
      .footer .contacts p.number {
        font-weight: 500; }
  .footer .links {
    display: flex;
    justify-content: flex-end; }
    .footer .links ul {
      list-style: none;
      padding: 0;
      margin: 60px 0 0 0; }
      .footer .links ul li:not(:last-child) {
        margin-bottom: 10px; }
      .footer .links ul li a {
        font-size: 16px; }
    .footer .links ul:not(:last-child) {
      margin-right: 80px; }

.gift-card {
  padding: 40px 0; }
  .gift-card .blue {
    font-size: 18px; }
  .gift-card .courses-card {
    display: flex;
    flex-direction: column; }
    .gift-card .courses-card.gift-card {
      text-align: center;
      color: #fff;
      background: linear-gradient(to bottom, #013BCAC4, #EC2EC4C4), url("../images/gift-card-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 12px 15px;
      height: 100%; }
      .gift-card .courses-card.gift-card .courses-card-body {
        background: transparent;
        padding: 0;
        max-width: 280px;
        margin: 0 auto; }
        .gift-card .courses-card.gift-card .courses-card-body img {
          width: auto;
          margin: 35px auto 25px; }
      .gift-card .courses-card.gift-card h1 {
        max-width: 300px;
        margin: 0 auto; }
      .gift-card .courses-card.gift-card a {
        background: #fff;
        color: #00398A;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        display: inline-block;
        text-align: center;
        margin: 60px auto 0;
        max-width: 300px; }
    .gift-card .courses-card p {
      font-size: 20px; }

.insurance {
  margin: 160px 0 90px 0; }
  .insurance h2 {
    margin: 0 0 45px 0; }

.events {
  margin: 160px 0 90px 0; }
  .events p {
    max-width: 650px;
    margin: 20px auto 0;
    text-align: center; }

.education {
  margin: 45px 0 90px; }
  .education .education-text-centr {
    max-width: 990px;
    text-align: center;
    margin: 0 auto; }
    .education .education-text-centr h2 {
      max-width: 700px;
      margin: 0 auto 30px; }
    .education .education-text-centr p {
      margin-bottom: 30px;
      font-size: 14px; }
  .education .cooperation {
    text-align: center;
    margin-top: 70px; }
    .education .cooperation h2 {
      margin-bottom: 20px; }
    .education .cooperation p {
      max-width: 900px;
      margin: 0 auto; }
    .education .cooperation .universities {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px; }
      .education .cooperation .universities .wrap-block {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px; }
        .education .cooperation .universities .wrap-block img {
          width: auto; }
        .education .cooperation .universities .wrap-block p {
          max-width: 250px; }

html {
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #090909;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway',sans-serif !important;
  font-size: 18px; }

h1 {
  font-size: 36px;
  font-weight: 800; }

h2.main-title, h2.main-title-white {
  font-size: 30px;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-weight: 800; }
  h2.main-title-white {
    color: #fff; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.wrap-ifarme {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }
  .wrap-ifarme .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.button-gradient {
  color: #fff;
  background: linear-gradient(94.67deg, #0783EF -7.03%, #8153BE 128.22%);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block; }

.button-gradient:hover {
  color: #fff; }

.blue {
  color: #1577C4 !important;
  font-weight: 700;
  font-size: 32px;
  margin: 0; }

.darkened {
  position: relative; }
  .darkened .center-text {
    color: #fff;
    z-index: 100;
    position: absolute;
    top: 58%;
    transform: translate(0, -50%); }
    .darkened .center-text h4 {
      font-weight: 800;
      font-size: 30px; }
    .darkened .center-text p {
      font-weight: 500;
      font-size: 20px;
      max-width: 700px; }

.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.slider, .slider .imgs {
  width: 100%;
  height: 100vh;
  position: relative; }

.slider {
  height: 100%;
  max-height: 100vh;
  position: relative; }
  .slider .slider-wrap {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    max-width: 480px; }
    .slider .slider-wrap h1 {
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 36px; }
    .slider .slider-wrap p {
      margin-bottom: 55px;
      font-size: 20px; }

.slider .imgs {
  display: flex;
  overflow: hidden; }

.slider .img {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  /* animation duration can't be greater than variable interval in JS! */
  /* check JS for other settings */
  animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important; }

/* Change images here */
.slider .img:nth-of-type(1) {
  background: url("../images/main-slider-1.jpg"); }

.slider .img:nth-of-type(2) {
  background: url("../images/main-slider-1.jpg"); }

.slider .img:nth-of-type(3) {
  background: url("../images/main-slider-1.jpg"); }

.slider .img span {
  padding: 7px 20px;
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #f0f0f0;
  font-size: 14px;
  font-family: sans-serif; }

.dots {
  position: absolute;
  bottom: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%; }

.dot {
  width: 12px;
  height: 12px;
  background: #ffffff80;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer; }

.active-dot {
  background: linear-gradient(94.67deg, #0783EF -7.03%, #8153BE 128.22%);
  cursor: default; }

@keyframes leftNext {
  from {
    left: 100%; }
  to {
    left: 0; } }

@keyframes leftCurr {
  from {
    left: 0; }
  to {
    left: -100%; } }

@keyframes rightNext {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes rightCurr {
  from {
    left: 0; }
  to {
    left: 100%; } }

.tab .tabmenu-wrap {
  padding: 50px 0px 40px; }
  .tab .tabmenu-wrap .tab-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px; }
    .tab .tabmenu-wrap .tab-nav .button-gradient {
      position: relative;
      padding: 10px 20px; }
      .tab .tabmenu-wrap .tab-nav .button-gradient:after {
        content: '%';
        position: absolute;
        opacity: 15%;
        font-weight: 800;
        font-size: 74px;
        top: -27px;
        right: -7px; }
    .tab .tabmenu-wrap .tab-nav .nav {
      display: table-cell;
      margin-right: 40px; }
      .tab .tabmenu-wrap .tab-nav .nav a {
        transition: .4s;
        position: relative;
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: #3F3F3F;
        text-align: left; }
        .tab .tabmenu-wrap .tab-nav .nav a:after {
          content: "";
          transition: .4s;
          width: 0px; }
      .tab .tabmenu-wrap .tab-nav .nav.on a {
        color: #1577C4; }
        .tab .tabmenu-wrap .tab-nav .nav.on a:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
          width: 45%;
          height: 3px;
          background-color: #1577C4;
          border-radius: 4px; }
  .tab .tabmenu-wrap .tab-con .courses-cards {
    display: flex;
    flex-wrap: wrap; }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-next {
      right: -40px; }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev {
      left: -60px; }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev:before {
      content: '〈';
      color: #1577C4;
      opacity: 1;
      -webkit-font-smoothing: auto;
      font-weight: bold;
      font-size: 55px;
      line-height: 0; }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-next:before {
      content: '〉';
      color: #1577C4;
      opacity: 1;
      -webkit-font-smoothing: auto;
      font-weight: bold;
      font-size: 55px;
      line-height: 0; }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev.slick-disabled:before, .tab .tabmenu-wrap .tab-con .courses-cards .slick-next.slick-disabled:before {
      opacity: 1;
      color: #767a7a; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      border-radius: 5px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      min-width: 196px;
      max-width: 196px;
      margin: 0 10px 20px; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-header {
        padding: 12px 15px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100px;
        position: relative;
        border-radius: 5px 5px 0 0;
        z-index: -1;
        flex: 0 0 auto; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-header p {
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          color: #fff;
          margin: 0;
          position: absolute;
          top: 46%;
          left: 8%;
          transform: translate(0, -50%);
          max-width: 130px; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-header:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 5px 5px 0 0; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-body {
        z-index: 10;
        padding: 15px 18px;
        margin-top: -10px;
        background: #fff;
        border-radius: 5px 5px 0 0;
        flex: 1 0 auto; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-body .wrap-text {
          margin-bottom: 0px;
          font-weight: 400;
          font-size: 12px; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-body .d-flex p {
          font-weight: 500;
          font-size: 16px; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-body .d-flex p:not(:last-child) {
          margin-right: 10px; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-footer {
        padding: 12px 15px;
        border-top: 1px solid #EAEAEA;
        flex: 0 0 auto; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card .courses-card-footer a {
          background: #1577C4;
          color: #fff;
          width: 100%;
          display: inline-block;
          padding: 10px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 600;
          text-align: center; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card.gift-card {
        text-align: center;
        color: #fff;
        background: linear-gradient(to bottom, #013BCAC4, #EC2EC4C4), url("../images/gift-card-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12px 15px; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card.gift-card h3 {
          padding-top: 40px;
          flex: 0 0 auto; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card.gift-card .courses-card-body {
          background: transparent;
          flex: 1 0 auto;
          padding: 0; }
          .tab .tabmenu-wrap .tab-con .courses-cards .courses-card.gift-card .courses-card-body img {
            width: auto;
            margin: 35px auto 25px; }
        .tab .tabmenu-wrap .tab-con .courses-cards .courses-card.gift-card a {
          flex: 0 0 auto;
          background: #fff;
          color: #00398A;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 700;
          padding: 10px;
          display: inline-block;
          text-align: center; }
      .tab .tabmenu-wrap .tab-con .courses-cards .courses-card p {
        font-size: 12px; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-3) .courses-card-header {
      background: url("../images/courses-card-1.jpg"); }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-3) .courses-card-header:after {
      background-color: #013BCAA6; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-2) .courses-card-header {
      background: url("../images/courses-card-2.jpg"); }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-2) .courses-card-header:after {
      background-color: #007BF2A6; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-1) .courses-card-header {
      background: url("../images/courses-card-3.jpg"); }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n-1) .courses-card-header:after {
      background-color: #7234C5A6; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n) .courses-card-header {
      background: url("../images/courses-card-4.jpg"); }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n) .courses-card-header:after {
      background-color: #B52ED2A6; }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n+1) .courses-card-header {
      background: url("../images/courses-card-5.jpg"); }
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card:nth-child(5n+1) .courses-card-header:after {
      background-color: #EC2EC4A6; }
  .tab .tabmenu-wrap .tab-con .con-box {
    display: none; }

.discount-wrap {
  display: flex;
  border-radius: 5px;
  background-color: #d6edfe;
  margin-bottom: 20px; }
  .discount-wrap .discount-img {
    background-image: url("../images/discount-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%; }
  .discount-wrap .discount-text {
    padding: 30px 50px;
    position: relative;
    width: 100%; }
    .discount-wrap .discount-text h1 {
      margin-bottom: 30px;
      max-width: 495px;
      margin-top: 0; }
    .discount-wrap .discount-text p {
      max-width: 465px;
      font-size: 12px; }
    .discount-wrap .discount-text a {
      margin-top: 20px;
      display: block;
      width: fit-content; }
    .discount-wrap .discount-text img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: auto; }

.reasons {
  padding: 65px 0 80px; }
  .reasons h2 {
    margin-bottom: 70px; }
  .reasons p {
    max-width: 550px;
    margin: 0 auto 1rem; }

.offering {
  padding: 65px 0 75px;
  background: linear-gradient(91.94deg, #0086F2 -5.4%, #A346B0 123.49%); }
  .offering h2 {
    margin-bottom: 50px; }
  .offering .offering-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .offering .offering-item {
    text-align: center;
    width: 20%; }
    .offering .offering-item .offering-border {
      border-radius: 50px;
      width: max-content;
      border: 3px solid #fff;
      border-radius: 50%;
      margin: 0 auto 25px; }
      .offering .offering-item .offering-border img {
        width: auto;
        padding: 20px; }
    .offering .offering-item p {
      font-size: 12px;
      color: #fff;
      max-width: 150px;
      margin: 0 auto; }

.test {
  padding: 65px 0 75px; }
  .test .main-title, .test h2.main-title-white {
    max-width: 490px;
    margin: 0 auto 20px; }
  .test .test-cards {
    display: flex;
    margin-top: 65px;
    justify-content: space-between; }
    .test .test-cards .test-card {
      border-radius: 10px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
      width: 32%; }
      .test .test-cards .test-card .test-card-body {
        padding: 25px 35px;
        border-bottom: 1px solid #EAEAEA;
        height: 135px; }
        .test .test-cards .test-card .test-card-body p {
          font-size: 20px;
          max-width: 240px;
          line-height: 26px; }
          .test .test-cards .test-card .test-card-body p.blue {
            margin: 0;
            color: #1577C4; }
      .test .test-cards .test-card .test-card-footer {
        padding: 15px 35px; }
        .test .test-cards .test-card .test-card-footer a {
          background: #1577C4;
          color: #fff;
          border-radius: 5px;
          width: 100%;
          display: block;
          text-align: center;
          font-size: 14px;
          padding: 9px;
          font-weight: 600; }

.courses .main-title, .courses h2.main-title-white {
  margin-bottom: 20px; }

.courses .pretitle-text {
  max-width: 955px;
  margin: 0 auto; }

.questions {
  padding: 65px 0 105px; }
  .questions form {
    max-width: 835px;
    margin: 60px auto 0; }
    .questions form .input-group {
      display: flex;
      justify-content: space-between; }
      .questions form .input-group .form-group {
        position: relative;
        width: 48%; }
        .questions form .input-group .form-group .palceholder {
          position: absolute;
          top: 7px;
          left: 15px;
          color: #63727a;
          display: none; }
        .questions form .input-group .form-group label {
          font-weight: 400;
          font-size: 12px;
          color: #63727a; }
        .questions form .input-group .form-group .star {
          color: red; }
        .questions form .input-group .form-group input {
          background: #25A5F233;
          border: none;
          padding: 10px;
          color: #000;
          border-radius: 5px;
          width: 100%; }
          .questions form .input-group .form-group input:focus-visible {
            outline: none; }
      .questions form .input-group .form-group.textarea {
        width: 100%; }
        .questions form .input-group .form-group.textarea .palceholder {
          top: 25px; }
    .questions form textarea {
      padding: 10px;
      margin: 20px 0;
      width: 100%;
      resize: none;
      height: 200px;
      background: #25A5F233;
      border-radius: 5px;
      border: none; }
      .questions form textarea:focus-visible {
        outline: none; }
    .questions form .agreed {
      display: flex;
      margin-bottom: 20px; }
      .questions form .agreed input {
        margin: 0 30px 0 10px; }
      .questions form .agreed p {
        font-size: 8px; }

@media (max-width: 1400px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 259px;
    max-width: 259px; } }

@media (max-width: 1200px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 292px;
    max-width: 292px; } }

@media (max-width: 992px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 327px;
    max-width: 327px; } }

@media (max-width: 794px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 328px;
    max-width: 328px; } }

@media (max-width: 767px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 238px;
    max-width: 238px; }
  .tab .tabmenu-wrap .tab-con .courses-cards .slick-next {
    right: -22px; }
  .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev {
    left: -40px; }
  .tab .tabmenu-wrap .tab-con .courses-cards .slick-next:before {
    font-size: 40px; }
  .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev:before {
    font-size: 40px; } }

@media (max-width: 767px) {
  .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
    min-width: 238px;
    max-width: 238px; } }
