.camp{

    .arrival-dates{
        b{
            display: block;
        }
    }
    .schedule{
        p{
            margin: 0;
        }
        b{
            width: 150px;
            display: inline-block;
        }
    }
    .cultural-program, .course-duration {
        ul{
            list-style: none;
            padding-left: 20px;
        }
        ul li::before {
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            color: #1577C4;
        }
    }
    .tab{
        max-width: 648px;
        margin: 0 auto;
    }
    .block-price{
        background: #1577C4;
    }
}