.contacts{
    display: flex;
    .contacts-info{
        width: 47%;
        padding: 0 5% 0;
        background-image: url('../images/contact-bg.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        .offices{
            display: flex;
            justify-content: space-between;
            margin: 40px 0 30px 0;
            .address{
                max-width: 160px;
            }
        }
        .questions form {
            margin: 40px auto 0;
            .input-group {
                flex-direction: column;
                .form-group {
                    width: 100%;
                }
            }
            .button-gradient{
                float: right;
            }
        }
    }
    .map{
        width: 53%;
    }
}