 @import "footer";

html{
  overflow-x: hidden;
}

body{
  background: #fff;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #090909;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway',sans-serif !important;
  font-size: 18px;
}

h2.main-title{
  font-size: 30px;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  &-white{
    @extend .main-title;
    color: #fff;
  }
}

img{
  width: 100%;
}

.reasons{
  padding: 65px 0 80px;
  h2{
    margin-bottom: 70px;
  }
  p{
    max-width: 550px;
    margin: 0 auto 1rem;
  }
}

.offering{
  padding: 65px 0 75px;
  background: linear-gradient(91.94deg, #0086F2 -5.4%, #A346B0 123.49%);
  h2{
    margin-bottom: 50px;
  }
  .offering-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .offering-item{
    text-align: center;
    width: 20%;
    img{
      width: auto;
      border: 3px solid #fff;
      border-radius: 50%;
      padding: 20px;
      margin-bottom: 25px;
    }
    p{
      font-size: 12px;
      color: #fff;
      max-width: 150px;
      margin: 0 auto;
    }
  }
}

.test{
  padding: 65px 0 75px;
  .main-title{
    max-width: 490px;
    margin: 0 auto 20px;
  }
  .test-cards{
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    .test-card{
      border-radius: 10px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
      width: 32%;
      .test-card-body{
        padding: 25px 35px;
        border-bottom: 1px solid #EAEAEA;
        height: 135px;
        p{
          font-size: 20px;
          max-width: 240px;
          line-height: 26px;
          &.blue{
            margin: 0;
            color: #1577C4;
          }
        }
      }
      .test-card-footer{
        padding: 15px 35px;
        a{
          background: #1577C4;
          color: #fff;
          border-radius: 5px;
          width: 100%;
          display: block;
          text-align: center;
          text-decoration: none;
          font-size: 14px;
          padding: 9px;
          font-weight: 600;
        }
      }
    }
  }
}

.courses{
  .main-title{
    margin-bottom: 20px;
  }
  .pretitle-text{
    max-width: 955px;
    margin: 0 auto;
  }
}

.questions{
  padding: 65px 0 75px;
  form{
    max-width: 835px;
    margin: 60px auto 0;
    .input-group{
      display:flex;
      justify-content: space-between;
      input {
        width: 48%;
        background: #25A5F233;
        border: none;
        padding: 10px;
        color: #000;
        border-radius: 5px;
      }
    }
    textarea{
      margin:20px 0;
      width: 100%;
      resize: none;
      height: 200px;
      background: #25A5F233;
      border-radius: 5px;
      border: none;
    }
    .agreed{
      display: flex;
      input{
        margin: 0 30px 0 10px;
      }
      p{
        font-size: 8px;
        a{
          text-decoration: none;
        }
      }
    }
  }
}

  // @media (max-width: 992px) {

  //   }
  // }

  // @media (max-width: 576px) {

  // }




  

