@import "header";
@import "footer";
@import "gift-card";
@import "insurance";
@import "events";
@import "education";
@import "about";
@import "contacts";
@import "submit";
@import "camp";

html{
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

body{
  background: #fff;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #090909;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway',sans-serif !important;
  font-size: 18px;
}

h1{
  font-size: 36px;
  font-weight: 800;
}

h2.main-title{
  font-size: 30px;
  color: #000;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  &-white{
    @extend .main-title;
    color: #fff;
  }
}

h3{
  font-size: 22px;
  color: #1577C4;
  font-weight: 600;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

.margin-top{
  margin-top: 150px !important;
}

.wrap-ifarme{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.button-gradient{
  color: #fff;
  background: linear-gradient(94.67deg, #0783EF -7.03%, #8153BE 128.22%);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
}
.button-gradient:hover{
  color: #fff;
}

.blue{
  color: #1577C4 !important;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.darkened {
  position: relative;
  .center-text{
    color: #fff;
    z-index: 100;
    position: absolute;            
    top: 58%;                        
    transform: translate(0, -50%);
    h4{
      font-weight: 800;
      font-size: 30px;
    }
    p{
      font-weight: 500;
      font-size: 20px;
      max-width: 700px;
    }
  }
}
 
.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);  
  z-index: 1;
}

.slider, .slider .imgs {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider {
  height: 100%;
  max-height: 100vh;
  position: relative;
  .slider-wrap{
    color: #fff;
    position: absolute;               
    top: 50%;            
    left: 10%;             
    transform: translate(0, -50%);  
    max-width: 480px;
    h1{
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 36px;
    }
    p{
      margin-bottom: 55px;
      font-size: 20px;
    }
  }
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  /* animation duration can't be greater than variable interval in JS! */
  /* check JS for other settings */
  animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
}

/* Change images here */
.slider .img:nth-of-type(1) { background: url("../images/main-slider-1.jpg"); }
.slider .img:nth-of-type(2) { background: url("../images/main-slider-1.jpg"); }
.slider .img:nth-of-type(3) { background: url("../images/main-slider-1.jpg"); }

.slider .img span {
  padding: 7px 20px;
  background: rgba(0, 0, 0, .8);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #f0f0f0;
  font-size: 14px;
  font-family: sans-serif;
}

.dots {
  position: absolute;
  bottom: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ffffff80;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.active-dot {
  background: linear-gradient(94.67deg, #0783EF -7.03%, #8153BE 128.22%);
  cursor: default;
}

@keyframes leftNext {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes leftCurr {
  from { left: 0; }
  to { left: -100%; }
}

@keyframes rightNext {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes rightCurr {
  from { left: 0; }
  to { left: 100%; }
}

/* Style for Select */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #25A5F233;
  padding: 15px 10px;
  color: #000 !important;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 21px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 14px;
}

.select-items div,.select-selected {
  color: #000;
  padding: 15px 10px;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #d6edfe;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 12px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab{
  .tabmenu-wrap{
    padding:50px 0px 40px;
   .tab-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 50px;
      .button-gradient{
        position: relative;
        padding: 10px 20px;
        &:after{
          content: '%';
          position: absolute;
          opacity: 15%;
          font-weight: 800;
          font-size: 74px;
          top: -27px;
          right: -7px;
        }
      }
     .nav{
          display:table-cell;
          margin-right: 40px;
       a{
         transition:.4s;
         position: relative;
         display:block;
         font-size:20px;
         font-weight:600;
         color:#3F3F3F;
         text-align:left;
             &:after{
           content:"";
           transition:.4s;
           width:0px;
         }
       }
          &.on{
         a{
           color:#1577C4;
           &:after{
             content:"";
             position:absolute;
             bottom:-10px;
             left:0;
             right:0;
             width:45%;
             height:3px;
             background-color: #1577C4;
             border-radius: 4px;
           }
         }
       }
     }
   }
 
   .tab-con{
      .courses-cards{
        display: flex;
        flex-wrap: wrap;
        .slick-next {
          right: -40px;
        }
        .slick-prev {
          left: -60px;
        }
        .slick-prev:before {
          content: '〈';
          color: #1577C4;
          opacity: 1;
          -webkit-font-smoothing: auto;
          font-weight: bold;
          font-size: 55px;
          line-height: 0;
        }
        .slick-next:before {
          content: '〉';
          color: #1577C4;
          opacity: 1;
          -webkit-font-smoothing: auto;
          font-weight: bold;
          font-size: 55px;
          line-height: 0;
        }
        .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
          opacity: 1;
          color: #767a7a;
        }
        .courses-card{
          border-radius: 5px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          min-width: 196px;
          max-width: 196px;
          margin: 0 10px 20px;
          .courses-card-header{
            padding: 12px 15px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            height: 100px;
            position: relative;
            border-radius: 5px 5px 0 0;
            z-index: -1;
            flex: 0 0 auto;
            p{
              font-size: 14px;
              font-weight: 600;
              text-align: left;
              color: #fff;
              margin: 0;
              position: absolute;               
              top: 46%;            
              left: 8%;             
              transform: translate(0, -50%);  
              max-width: 130px;
            }
          }
          .courses-card-header:after{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 5px 5px 0 0;
          }
          .courses-card-body{
            z-index: 10;
            padding: 15px 18px;
            margin-top: -10px;
            background: #fff;
            border-radius: 5px 5px 0 0;
            flex: 1 0 auto;
            .wrap-text{
              margin-bottom: 0px;
              font-weight: 400;
              font-size: 12px;
            }
            .d-flex{
              p{
                font-weight: 500;
                font-size: 16px;
              }
              p:not(:last-child){
                margin-right: 10px;
              }
            }
          }
          .courses-card-footer{
            padding: 12px 15px;
            border-top: 1px solid #EAEAEA;
            flex: 0 0 auto;
            a{
              background: #1577C4;
              color: #fff;
              width: 100%;
              display: inline-block;
              padding: 10px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 600;
              text-align: center;
            }
          }
          &.gift-card{
            text-align: center;
            color: #fff;
            background: linear-gradient(to bottom, #013BCAC4, #EC2EC4C4),url("../images/gift-card-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 12px 15px;
            h3{
              padding-top: 40px;
              flex: 0 0 auto;
            }
            .courses-card-body{
              background: transparent;
              flex: 1 0 auto;
              padding: 0;
              img{
                width: auto;
                margin: 35px auto 25px;
              }
            }
            a{
              flex: 0 0 auto;
              background: #fff;
              color: #00398A;
              width: 100%;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 700;
              padding: 10px;
              display: inline-block;
              text-align: center;
            }
          }
          p{
            font-size: 12px;
          }
        }
        .courses-card:nth-child(5n-3){
          .courses-card-header{
            background: url('../images/courses-card-1.jpg');
          }
          .courses-card-header:after{
            background-color: #013BCAA6;
          }
        }
        .courses-card:nth-child(5n-2){
          .courses-card-header{
            background: url('../images/courses-card-2.jpg');
          }
          .courses-card-header:after{
            background-color: #007BF2A6;
          }
        }
        .courses-card:nth-child(5n-1){
          .courses-card-header{
            background: url('../images/courses-card-3.jpg');
          }
          .courses-card-header:after{
            background-color: #7234C5A6;
          }
        }
        .courses-card:nth-child(5n){
          .courses-card-header{
            background: url('../images/courses-card-4.jpg');
          }
          .courses-card-header:after{
            background-color: #B52ED2A6;
          }
        }
        .courses-card:nth-child(5n+1){
          .courses-card-header{
            background: url('../images/courses-card-5.jpg');
          }
          .courses-card-header:after{
            background-color: #EC2EC4A6;
          }
        }
      }
     .con-box{
       display:none;
     }
   }
 }
}

.discount-wrap{
  display: flex;
  border-radius: 5px;
  background-color: #d6edfe;
  margin-bottom: 20px;
  .discount-img{
    background-image: url('../images/discount-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
  }
  .discount-text{
    padding: 30px 50px;
    position: relative;
    width: 100%;
    h1{
      margin-bottom: 30px;
      max-width: 495px;
      margin-top: 0;
    }
    p{
      max-width: 465px;
      font-size: 12px;
    }
    a{
      margin-top: 20px;
      display: block;
      width: fit-content;
    }
    img{
      position: absolute;
      bottom: 0;
      right: 0;
      width: auto;
    }
  }
}

.background{
  background-image: url('../images/main-bg.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.reasons{
  background-image: url('../images/about-bg.png');
  background-repeat: no-repeat;
  background-position: right 50% top -15%;
  padding: 65px 0 80px;
  h2{
    margin-bottom: 70px;
  }
  p{
    max-width: 550px;
    margin: 0 auto 1rem;
  }
}

.offering{
  padding: 65px 0 75px;
  background-image: url('../images/gradient-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    margin-bottom: 50px;
  }
  .offering-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .offering-item{
    text-align: center;
    width: 20%;
    .offering-border{
      border-radius: 50px;
      width: max-content;
      border: 3px solid #fff;
      border-radius: 50%;
      margin: 0 auto 25px;
      img{
        width: auto;
        padding: 20px;
      }
    }

    p{
      font-size: 12px;
      color: #fff;
      max-width: 150px;
      margin: 0 auto;
    }
  }
}

.test{
  padding: 65px 0 75px;
  .main-title{
    max-width: 490px;
    margin: 0 auto 20px;
  }
  .test-cards{
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    flex-wrap: wrap;
    .test-card{
      border-radius: 10px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
      width: 32%;
      margin-bottom: 20px;
      .test-card-body{
        padding: 25px 35px;
        border-bottom: 1px solid #EAEAEA;
        height: 135px;
        p{
          font-size: 20px;
          max-width: 240px;
          line-height: 26px;
          &.blue{
            margin: 0;
            color: #1577C4;
          }
        }
      }
      .test-card-footer{
        padding: 15px 35px;
        a{
          background: #1577C4;
          color: #fff;
          border-radius: 5px;
          width: 100%;
          display: block;
          text-align: center;
          font-size: 14px;
          padding: 9px;
          font-weight: 600;
        }
      }
    }
  }
}

.courses{
  .main-title{
    margin-bottom: 20px;
  }
  .pretitle-text{
    max-width: 955px;
    margin: 0 auto;
  }
}

.palceholder{
  position: absolute;
  top: 10px;
  left: 15px;
  color: #63727a;
  display: none;
  label{
    font-weight: 500;
    font-size: 12px;
    color: #63727a;
  } 
  .star{
    color: red
  }
}

input {
  background: #25A5F233;
  border: none;
  padding: 15px 10px;
  color: #000;
  border-radius: 5px;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
}

input[type="checkbox"] {
  width: auto;
}

.questions{
  margin: 65px 0 105px;
  form{
    max-width: 835px;
    margin: 60px auto 0;
    .input-group{
      display:flex;
      justify-content: space-between;
      .form-group{
        position: relative;
        width: 48%;
        margin-bottom: 20px;
        .course-cost{
          margin: 0;
          text-align: right;
          font-size: 18px;
          span{
            color: #1477c4;
            font-size: 30px;
            font-weight: 600;
          }
        }
      }
      .form-group.textarea{
        width: 100%;
        .palceholder{
          top: 10px;
        }
      }
    }
    textarea{
      padding: 10px;
      margin:0 0 20px 0;
      width: 100%;
      resize: none;
      height: 200px;
      background: #25A5F233;
      border-radius: 5px;
      border: none;
      &:focus-visible {
        outline: none;
      }
    }
    .agreed{
      display: flex;
      margin-bottom: 20px;
      input{
        margin: 0 30px 0 10px;
      }
      p{
        font-size: 8px;
      }
    }
  }
}

  @media (max-width: 1400px) {
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      min-width: 259px;
      max-width: 259px;
    }
  }

  @media (max-width: 1200px) {
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      min-width: 292px;
      max-width: 292px;
    }
  }

  @media (max-width: 992px) {
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      min-width: 327px;
      max-width: 327px;
    }
  }
  @media (max-width: 794px) {
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      min-width: 328px;
      max-width: 328px;
    }
  }
  @media (max-width: 767px) {
    .tab .tabmenu-wrap .tab-con .courses-cards .courses-card {
      min-width: 238px;
      max-width: 238px;
    }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-next {
      right: -22px;
    }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev {
      left: -40px;
    }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-next:before {
      font-size: 40px;
    }
    .tab .tabmenu-wrap .tab-con .courses-cards .slick-prev:before {
      font-size: 40px;
    }
    .test .test-cards .test-card {
      width: 49%;
    }
  }


  @media (max-width: 576px) {
    .test .test-cards .test-card {
      width: 100%;
    }
    .offering .offering-item {
      width: 50%;
      margin-bottom: 20px;
    }
    .offering .offering-item .offering-border img {
      padding: 15px;
    }
    .questions{
      form .input-group {
        flex-direction: column;
        .form-group {
          width: 100%;
        }
      }
      .button-gradient{
        width: 100%;
        text-align: center;
      }
    }
  }




  

