.questions.submit{
    margin: 100px 0 100px 0;
    form{
        max-width: 100%;
        h2{
            margin-bottom: 40px;
            margin-top: 30px;
        }
        .input-group {
            width: 96%;
            margin: 0 auto;
        }
        .agreed input {
            margin: 0 20px 0 25px;
        }
    }
}